node-red/add timestamp into mqtt payload
[{"id":"83918d14.262ac","type":"debug","z":"c8daa8bf.fe43b8","name":"","active":true,"console":"false","complete":"false","x":814.0000228881836,"y":445.00001335144043,"wires":[]},{"id":"3dfaf7e1.cd3018","type":"mqtt in","z":"c8daa8bf.fe43b8","name":"","topic":"raw1","qos":"2","broker":"65600cb6.adb1d4","x":84.10001373291016,"y":127.80000495910645,"wires":[["ec21d8d0.c65658"]]},{"id":"28032047.1391e","type":"function","z":"c8daa8bf.fe43b8","name":"","func":"var time =  Date.now();\nmsg1 = \"{\\\"timestamp\\\":\";\nmsg1 = msg1 + time + \", \\\"clientId\\\": \\\"\" + msg.payload.clientId + \"\\\", \\\"temperature\\\":\";\nmsg1 = msg1 + msg.payload.temperature + \"}\";\nmsg.payload = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":379.00006103515625,"y":130.00000381469727,"wires":[["eb2d5563.a40f08"]]},{"id":"ec21d8d0.c65658","type":"json","z":"c8daa8bf.fe43b8","name":"","x":225.0000343322754,"y":126.00000381469727,"wires":[["28032047.1391e"]]},{"id":"eb2d5563.a40f08","type":"json","z":"c8daa8bf.fe43b8","name":"","x":535.0000686645508,"y":135.00000381469727,"wires":[["b5cac862.96e888"]]},{"id":"bf5bfb56.c79298","type":"mqtt in","z":"c8daa8bf.fe43b8","name":"","topic":"raw2","qos":"2","broker":"65600cb6.adb1d4","x":76.00002658367157,"y":281.0000867843628,"wires":[["39273077.4ae1f"]]},{"id":"39273077.4ae1f","type":"function","z":"c8daa8bf.fe43b8","name":"","func":"var time =  Date.now();\nmsg1 = \"{\\\"timestamp\\\":\" + time + \",\" + msg.payload + \"}\";\nmsg.payload = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":266.00003242492676,"y":281.00006198883057,"wires":[["f123b370.314a4"]]},{"id":"c98f4a0a.013eb8","type":"debug","z":"c8daa8bf.fe43b8","name":"","active":true,"console":"false","complete":"false","x":660.1001167297363,"y":282.6000814437866,"wires":[]},{"id":"f123b370.314a4","type":"json","z":"c8daa8bf.fe43b8","name":"","x":452.00002467632294,"y":282.00005435943604,"wires":[["c98f4a0a.013eb8"]]},{"id":"b5cac862.96e888","type":"debug","z":"c8daa8bf.fe43b8","name":"","active":true,"console":"false","complete":"false","x":737,"y":140,"wires":[]},{"id":"afa76160.440b","type":"comment","z":"c8daa8bf.fe43b8","name":"{} format from raw data","info":"","x":105,"y":77.40001487731934,"wires":[]},{"id":"994ac555.7e3438","type":"comment","z":"c8daa8bf.fe43b8","name":"text format from raw data","info":"","x":115,"y":237,"wires":[]},{"id":"efaeb477.808d28","type":"mqtt in","z":"c8daa8bf.fe43b8","name":"","topic":"raw3","qos":"2","broker":"65600cb6.adb1d4","x":64,"y":413,"wires":[["e3cf067d.3ed478"]]},{"id":"e3cf067d.3ed478","type":"function","z":"c8daa8bf.fe43b8","name":"Add Timestamp Into msg.payload","func":"var time =  Date.now();\nmsg1 = \"{\\\"timestamp\\\":\" + time + \", \\\"payload\\\":\" + msg.payload + \"}\";\nmsg.payload = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":340.00000762939453,"y":424.0000123977661,"wires":[["1a20f0dd.5c492f"]]},{"id":"1a20f0dd.5c492f","type":"json","z":"c8daa8bf.fe43b8","name":"","x":615.0000152587891,"y":437.00006103515625,"wires":[["83918d14.262ac"]]},{"id":"250931fd.2e24ce","type":"comment","z":"c8daa8bf.fe43b8","name":"{} format from raw data, {\"time\":123, \"payload\":{}}","info":"","x":185,"y":372.0000114440918,"wires":[]},{"id":"65600cb6.adb1d4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
