node-red/dashboard
[{"id":"c742e797.1e39c","type":"switch","z":"1274b6fc.3ffea9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":245,"y":149.0999755859375,"wires":[["b33e2cfa.a47fb"],["d6948971.91e058"]]},{"id":"5cf7e16a.e6f35","type":"ping","z":"1274b6fc.3ffea9","name":"dht22","host":"172.20.10.2","timer":"10","x":85.5,"y":66.35000610351562,"wires":[["53f313d4.2c573c"]]},{"id":"804c1fd2.8796f","type":"ui_text","z":"1274b6fc.3ffea9","group":"ba05deec.f9e67","order":0,"width":0,"height":0,"name":"Ping","label":"home/bedroom/dht22","format":"{{msg.payload}}","layout":"row-spread","x":599.5,"y":69.79998779296875,"wires":[]},{"id":"c2920ee0.7461f","type":"mqtt in","z":"1274b6fc.3ffea9","name":"dht22 mqtt input","topic":"dht22","qos":"1","broker":"b7bbf6c7.4210a8","x":123.5,"y":435.1500244140625,"wires":[["1d23df98.dfb05"]]},{"id":"1d23df98.dfb05","type":"json","z":"1274b6fc.3ffea9","name":"","x":333.5,"y":512.4500122070312,"wires":[["5a267af9.296df4"]]},{"id":"5a267af9.296df4","type":"switch","z":"1274b6fc.3ffea9","name":"","property":"payload.clientId","propertyType":"msg","rules":[{"t":"eq","v":"dht22","vt":"str"},{"t":"eq","v":"ESP001","vt":"str"},{"t":"eq","v":"magnetic","vt":"str"},{"t":"eq","v":"plantower","vt":"str"}],"checkall":"true","outputs":4,"x":454.5,"y":521.4500122070312,"wires":[["16f27ee2.ef6c71","73050806.e29118"],["a27572db.949198","6ccb534a.b0649c","622ebdf6.a1b24c"],["c3cf2df0.d0201"],["9889a69a.270dc8","e76a4cdc.3543b","b0869055.e4d62"]]},{"id":"16f27ee2.ef6c71","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":719.5,"y":379.45001220703125,"wires":[[]]},{"id":"73050806.e29118","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":714,"y":410,"wires":[[]]},{"id":"53f313d4.2c573c","type":"switch","z":"1274b6fc.3ffea9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":239.5,"y":67.44999694824219,"wires":[["87e43c6d.71ba2"],["804c1fd2.8796f"]]},{"id":"87e43c6d.71ba2","type":"change","z":"1274b6fc.3ffea9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":406.5,"y":30.449996948242187,"wires":[["804c1fd2.8796f"]]},{"id":"cd659b7a.36ef5","type":"ping","z":"1274b6fc.3ffea9","name":"bme280","host":"192.168.2.103","timer":"10","x":102,"y":149,"wires":[["c742e797.1e39c"]]},{"id":"d6948971.91e058","type":"ui_text","z":"1274b6fc.3ffea9","group":"ba05deec.f9e67","order":0,"width":0,"height":0,"name":"Ping","label":"home/bedroom/bme280","format":"{{msg.payload}}","layout":"row-spread","x":605,"y":154.44998168945312,"wires":[]},{"id":"b33e2cfa.a47fb","type":"change","z":"1274b6fc.3ffea9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":414,"y":104.0999755859375,"wires":[["d6948971.91e058"]]},{"id":"a27572db.949198","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":714,"y":507,"wires":[["67d17109.ba2918"]]},{"id":"6ccb534a.b0649c","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.5,"y":537.5499877929687,"wires":[["3c89741c.cd442c"]]},{"id":"622ebdf6.a1b24c","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":719,"y":566,"wires":[["ad113d11.f449d"]]},{"id":"67d17109.ba2918","type":"ui_gauge","z":"1274b6fc.3ffea9","name":"","group":"1fc78da6.7ab242","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1003,"y":492,"wires":[]},{"id":"3c89741c.cd442c","type":"ui_gauge","z":"1274b6fc.3ffea9","name":"","group":"1fc78da6.7ab242","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":991,"y":520,"wires":[]},{"id":"ad113d11.f449d","type":"ui_gauge","z":"1274b6fc.3ffea9","name":"","group":"1fc78da6.7ab242","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":977,"y":548,"wires":[]},{"id":"6ade5fcf.ccb61","type":"mqtt in","z":"1274b6fc.3ffea9","name":"door mqtt input","topic":"door","qos":"1","broker":"b7bbf6c7.4210a8","x":114,"y":570,"wires":[["1d23df98.dfb05"]]},{"id":"c3cf2df0.d0201","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to state","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":619,"y":661,"wires":[["9c206f81.6b75e"]]},{"id":"f9723400.979e3","type":"mqtt in","z":"1274b6fc.3ffea9","name":"bme280 mqtt input","topic":"henkelsensor/ESP001","qos":"1","broker":"b7bbf6c7.4210a8","x":120,"y":503,"wires":[["1d23df98.dfb05"]]},{"id":"ce6504f9.bd3828","type":"ui_text","z":"1274b6fc.3ffea9","group":"e107b1cf.75f23","order":0,"width":0,"height":0,"name":"","label":"Front Door","format":"{{msg.payload}}","layout":"row-spread","x":1169.5,"y":648.7999877929687,"wires":[]},{"id":"9c206f81.6b75e","type":"switch","z":"1274b6fc.3ffea9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":802.5,"y":659.449951171875,"wires":[["1f763098.4d0f7f"],["2e32a3f.032c05c"]]},{"id":"1f763098.4d0f7f","type":"change","z":"1274b6fc.3ffea9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":977.5,"y":632.449951171875,"wires":[["ce6504f9.bd3828"]]},{"id":"2e32a3f.032c05c","type":"change","z":"1274b6fc.3ffea9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":971,"y":694,"wires":[["ce6504f9.bd3828"]]},{"id":"8d216b9f.bbb828","type":"mqtt in","z":"1274b6fc.3ffea9","name":"door mqtt input","topic":"airquality","qos":"1","broker":"b7bbf6c7.4210a8","x":111,"y":651,"wires":[["1d23df98.dfb05"]]},{"id":"9889a69a.270dc8","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to pm2.5","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PM25_Metal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":604,"y":790,"wires":[["6986dd61.f829e4"]]},{"id":"6986dd61.f829e4","type":"ui_gauge","z":"1274b6fc.3ffea9","name":"","group":"3f82c070.60042","order":3,"width":0,"height":0,"gtype":"gage","title":"PM2.5","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":790,"wires":[]},{"id":"e76a4cdc.3543b","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to pm10","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PM100_Metal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":607,"y":829,"wires":[["11d20fb2.d70f6"]]},{"id":"11d20fb2.d70f6","type":"ui_gauge","z":"1274b6fc.3ffea9","name":"","group":"3f82c070.60042","order":3,"width":0,"height":0,"gtype":"gage","title":"PM10","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":809,"y":829,"wires":[]},{"id":"b0869055.e4d62","type":"change","z":"1274b6fc.3ffea9","name":"set msg.payload to pm2.5","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.HCHO","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":605,"y":867,"wires":[["3ecd9978.2f4716"]]},{"id":"3ecd9978.2f4716","type":"ui_gauge","z":"1274b6fc.3ffea9","name":"","group":"3f82c070.60042","order":3,"width":0,"height":0,"gtype":"gage","title":"HCHO甲醛","label":"units","format":"{{value}}","min":0,"max":"0.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":829,"y":868,"wires":[]},{"id":"331fd24c.ac402e","type":"ui_button","z":"1274b6fc.3ffea9","name":"","group":"d130dccc.de037","order":0,"width":0,"height":0,"passthru":false,"label":"Power Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":96.5,"y":1005.949951171875,"wires":[["d20d90d6.bc95c"]]},{"id":"d20d90d6.bc95c","type":"exec","z":"1274b6fc.3ffea9","command":"sudo halt #","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":319.5,"y":1008.7000122070312,"wires":[[],[],[]]},{"id":"f15070f2.2fa15","type":"ui_button","z":"1274b6fc.3ffea9","name":"","group":"d130dccc.de037","order":0,"width":0,"height":0,"passthru":false,"label":"Restart","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":93,"y":1085,"wires":[["c99c5441.acabc8"]]},{"id":"c99c5441.acabc8","type":"exec","z":"1274b6fc.3ffea9","command":"sudo restart #","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":326,"y":1076,"wires":[[],[],[]]},{"id":"ba05deec.f9e67","type":"ui_group","z":"","name":"Ping","tab":"af4ecfdd.dd62c","disp":true,"width":"6"},{"id":"b7bbf6c7.4210a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1fc78da6.7ab242","type":"ui_group","z":"","name":"Bedroom","tab":"157203f.1d90bfc","order":3,"disp":true,"width":"6"},{"id":"e107b1cf.75f23","type":"ui_group","z":"","name":"Security","tab":"157203f.1d90bfc","disp":false,"width":"6"},{"id":"3f82c070.60042","type":"ui_group","z":"","name":"AirQuality","tab":"157203f.1d90bfc","disp":true,"width":"6"},{"id":"d130dccc.de037","type":"ui_group","z":"","name":"Gateway Control","tab":"af4ecfdd.dd62c","disp":true,"width":"6"},{"id":"af4ecfdd.dd62c","type":"ui_tab","z":"","name":"Admin","icon":"dashboard"},{"id":"157203f.1d90bfc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
