node-red/mqtt_azure_iothub
[{"id":"4cb86813.662428","type":"function","z":"fbccebd1.f65e98","name":"Function","func":"msg1 = '{\"deviceId\": \"dht22\", '\nmsg1 = msg1 + '\"key\": \"v1sL0p+sqbocpmjVpMor12otjhovMg6klS+Qnsu1KCQ=\", '  \nmsg1 = msg1 + '\"protocol\": \"mqtt\", '\nmsg1 = msg1 + '\"data\": ' + msg.payload + '}'\n\nnewMsg = { payload: msg1 };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":281,"y":246,"wires":[["f236100f.7c5c6"]]},{"id":"6b7dc4eb.3e113c","type":"debug","z":"fbccebd1.f65e98","name":"","active":true,"console":"false","complete":"payload","x":696.3400268554687,"y":291.47998046875,"wires":[]},{"id":"ce16127d.21424","type":"mqtt in","z":"fbccebd1.f65e98","name":"","topic":"dht22","qos":"1","broker":"f57b7048.2bdb","x":103.5,"y":243.14999389648437,"wires":[["4cb86813.662428"]]},{"id":"f236100f.7c5c6","type":"json","z":"fbccebd1.f65e98","name":"","x":503.5,"y":293.45001220703125,"wires":[["6b7dc4eb.3e113c","2c209c44.c3a1d4"]]},{"id":"2c209c44.c3a1d4","type":"azureiothub","z":"fbccebd1.f65e98","name":"Azure IoT Hub","protocol":"mqtt","x":715.5,"y":182.1999969482422,"wires":[[]]},{"id":"c619fb4f.fee398","type":"mqtt in","z":"fbccebd1.f65e98","name":"bme280","topic":"henkelsensor/ESP001","qos":"1","broker":"7972f800.13d778","x":108,"y":337,"wires":[["86bd28c3.46f0b8"]]},{"id":"86bd28c3.46f0b8","type":"function","z":"fbccebd1.f65e98","name":"Function","func":"msg1 = '{\"deviceId\": \"bme280\", '\nmsg1 = msg1 + '\"key\": \"uQVXFxXEgto47Ao7F92tg/CpR+8Uopt7JL4piA4Qa9g=\", '  \nmsg1 = msg1 + '\"protocol\": \"mqtt\", '\nmsg1 = msg1 + '\"data\": ' + msg.payload + '}'\n\nnewMsg = { payload: msg1 };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":273,"y":339,"wires":[[]]},{"id":"f57b7048.2bdb","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"7972f800.13d778","type":"mqtt-broker","z":"","broker":"192.168.54.105","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"test","birthQos":"0","birthRetain":"false","birthPayload":""}]
