node-red/PORT_MQTT_Bytes
[{"id":"f96508e5.c03828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8906f039.0ca9a","type":"tcp out","z":"f96508e5.c03828","host":"10.1.110.1","port":"5050","beserver":"client","base64":false,"end":false,"name":"","x":680,"y":100,"wires":[]},{"id":"62adeffc.196f5","type":"function","z":"f96508e5.c03828","name":"string to bytes","func":"msg.payload = Buffer.from(msg.payload, 'utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":634,"y":219,"wires":[["8906f039.0ca9a","ce218416.a881d8"]]},{"id":"ce218416.a881d8","type":"debug","z":"f96508e5.c03828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":300,"wires":[]},{"id":"7796a432.a420cc","type":"mqtt in","z":"f96508e5.c03828","name":"","topic":"port/demo/call","qos":"1","datatype":"auto","broker":"42adb29a.7ba8bc","x":360,"y":220,"wires":[["62adeffc.196f5"]]},{"id":"42adb29a.7ba8bc","type":"mqtt-broker","z":"","name":"","broker":"47.96.26.134","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
