node-red/wc_device-offline_message+image
[{"id":"81b1765b.2b14e8","type":"ping","z":"5e542494.7a9fbc","name":"","host":"192.168.2.103","timer":"10","x":75,"y":47.95001220703125,"wires":[["96f3b29d.876ee","d5590129.58062"]]},{"id":"96f3b29d.876ee","type":"switch","z":"5e542494.7a9fbc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":218,"y":78,"wires":[["f56353f8.10ece"]]},{"id":"d97bf912.57eee8","type":"function","z":"5e542494.7a9fbc","name":"wechat payload - device offline","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"\";\nmsg1 = msg1 + \"xx设备掉线了，下图为设备目前照片\";\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":200,"wires":[["a6fc0381.c0ead"]]},{"id":"a6fc0381.c0ead","type":"http request","z":"5e542494.7a9fbc","name":"","method":"POST","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={{token}}","tls":"","x":908,"y":255,"wires":[["39201614.9737ca"]]},{"id":"41910255.714c1c","type":"function","z":"5e542494.7a9fbc","name":"define corpid & corpsecret","func":"msg.corpid = \"wxd7bf322d8133468e\";\nmsg.corpsecret = \"Db3r2edcjJVYbJZBTilb5MxzALmuA0RDKFczpmyMwc4p0TeWXbj1BdWZTNlMbhn1\";\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":102,"wires":[["54398e88.1086"]]},{"id":"54398e88.1086","type":"http request","z":"5e542494.7a9fbc","name":"","method":"GET","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid={{corpid}}&corpsecret={{corpsecret}}","tls":"","x":747,"y":108,"wires":[["3ea1bce1.d1cc04"]]},{"id":"3ea1bce1.d1cc04","type":"json","z":"5e542494.7a9fbc","name":"","x":909,"y":99,"wires":[["2516fe86.48b2f2"]]},{"id":"2516fe86.48b2f2","type":"change","z":"5e542494.7a9fbc","name":"acquire access token","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":146,"y":200.00003051757812,"wires":[["d97bf912.57eee8","c726b715.22dac8"]]},{"id":"c726b715.22dac8","type":"exec","z":"5e542494.7a9fbc","command":"sudo python /home/pi/Camera/camera.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"excu python","x":127,"y":284,"wires":[["c67897ef.98e6b8"],[],[]]},{"id":"c67897ef.98e6b8","type":"file in","z":"5e542494.7a9fbc","name":"picture","filename":"/home/pi/Pictures/image.jpg","format":"","x":275,"y":276.5,"wires":[["766a2ea6.3cc4f"]]},{"id":"766a2ea6.3cc4f","type":"function","z":"5e542494.7a9fbc","name":"http header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/octet-stream';\nmsg.headers['.name']='media';\nmsg.headers['.filename']= msg.filename;\n//msg.headers['.Connection'] = 'Keep-Alive';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":269.5,"wires":[["be38fd7f.0c6e9"]]},{"id":"be38fd7f.0c6e9","type":"http request","z":"5e542494.7a9fbc","name":"","method":"POST","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/media/upload?access_token={{token}}&type=image","tls":"","x":603.5,"y":266.949951171875,"wires":[["db3c4c2f.e3f74"]]},{"id":"db3c4c2f.e3f74","type":"json","z":"5e542494.7a9fbc","name":"","x":55,"y":384.5,"wires":[["e317f99e.1f3b08"]]},{"id":"e317f99e.1f3b08","type":"change","z":"5e542494.7a9fbc","name":"acquire media id","rules":[{"t":"set","p":"media_id","pt":"msg","to":"payload.media_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":225,"y":383.5,"wires":[["30880e48.f193b2"]]},{"id":"30880e48.f193b2","type":"function","z":"5e542494.7a9fbc","name":"wechat payload - image","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"image\\\", \\\"agentid\\\": \\\"1\\\",\\\"image\\\": {\\\"media_id\\\": \\\"\";\nmsg1 = msg1 + msg.media_id;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":385.5,"wires":[["a6fc0381.c0ead"]]},{"id":"39201614.9737ca","type":"debug","z":"5e542494.7a9fbc","name":"","active":true,"console":"false","complete":"false","x":915.5,"y":389.29998779296875,"wires":[]},{"id":"f56353f8.10ece","type":"delay","z":"5e542494.7a9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":376.5,"y":46.45001220703125,"wires":[["41910255.714c1c"]]},{"id":"d5590129.58062","type":"debug","z":"5e542494.7a9fbc","name":"","active":true,"console":"false","complete":"false","x":132.5,"y":128.3000030517578,"wires":[]}]
