node-red/wc_image
[{"id":"90138f0b.a2234","type":"inject","z":"52e1e407.6646dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":94.5,"y":43.149993896484375,"wires":[["ccc9f72c.fa5928"]]},{"id":"621afa4c.1f3e54","type":"json","z":"52e1e407.6646dc","name":"","x":660.5,"y":37.44999694824219,"wires":[["5e6f6e49.5ab32"]]},{"id":"5e6f6e49.5ab32","type":"change","z":"52e1e407.6646dc","name":"acquire access token","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":832.5,"y":35.44999694824219,"wires":[["91912af1.4a8318"]]},{"id":"251a2340.dd61cc","type":"http request","z":"52e1e407.6646dc","name":"","method":"POST","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/media/upload?access_token={{token}}&type=image","tls":"","x":433.5,"y":113.449951171875,"wires":[["3017e4cc.6fedfc"]]},{"id":"91912af1.4a8318","type":"file in","z":"52e1e407.6646dc","name":"picture","filename":"C:\\Users\\Michael\\Desktop\\humidity.JPG","format":"","x":79.5,"y":111.75,"wires":[["7e0f68e8.427bd8"]]},{"id":"7e0f68e8.427bd8","type":"function","z":"52e1e407.6646dc","name":"http header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/octet-stream';\nmsg.headers['.name']='media';\nmsg.headers['.filename']= msg.filename;\n//msg.headers['.Connection'] = 'Keep-Alive';\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":113,"wires":[["251a2340.dd61cc"]]},{"id":"ccc9f72c.fa5928","type":"function","z":"52e1e407.6646dc","name":"define corpid & corpsecret","func":"msg.corpid = \"wxd7bf322d8133468e\";\nmsg.corpsecret = \"Db3r2edcjJVYbJZBTilb5MxzALmuA0RDKFczpmyMwc4p0TeWXbj1BdWZTNlMbhn1\";\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":41,"wires":[["af93a980.997f28"]]},{"id":"af93a980.997f28","type":"http request","z":"52e1e407.6646dc","name":"","method":"GET","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid={{corpid}}&corpsecret={{corpsecret}}","tls":"","x":512,"y":38,"wires":[["621afa4c.1f3e54"]]},{"id":"3017e4cc.6fedfc","type":"json","z":"52e1e407.6646dc","name":"","x":579,"y":113,"wires":[["4c44a8fd.f92698"]]},{"id":"4c44a8fd.f92698","type":"change","z":"52e1e407.6646dc","name":"acquire access token","rules":[{"t":"set","p":"media_id","pt":"msg","to":"payload.media_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":767,"y":111,"wires":[["ce85f3f1.a274e"]]},{"id":"ce85f3f1.a274e","type":"function","z":"52e1e407.6646dc","name":"wechat payload - dht22","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"image\\\", \\\"agentid\\\": \\\"1\\\",\\\"image\\\": {\\\"media_id\\\": \\\"\";\nmsg1 = msg1 + msg.media_id;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":180,"wires":[["626e914a.2da6","da457eb9.b1037"]]},{"id":"626e914a.2da6","type":"debug","z":"52e1e407.6646dc","name":"","active":true,"console":"false","complete":"false","x":404.5,"y":262.29998779296875,"wires":[]},{"id":"da457eb9.b1037","type":"http request","z":"52e1e407.6646dc","name":"","method":"POST","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={{token}}","tls":"","x":415,"y":177,"wires":[[]]}]
