node-red/wc_mqtt_message
[{"id":"93711f9e.a4fc5","type":"http request","z":"c5982c0d.7b384","name":"","method":"GET","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid={{corpid}}&corpsecret={{corpsecret}}","tls":"","x":350.5,"y":208.44998168945312,"wires":[["c21bde4c.7e1df"]]},{"id":"f82739c8.bffc68","type":"http request","z":"c5982c0d.7b384","name":"","method":"POST","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={{token}}","tls":"","x":716.5,"y":344.449951171875,"wires":[["e21cafac.3f617"]]},{"id":"c21bde4c.7e1df","type":"json","z":"c5982c0d.7b384","name":"","x":535.5,"y":207.44998168945312,"wires":[["1f9f068c.a55319"]]},{"id":"1f9f068c.a55319","type":"change","z":"c5982c0d.7b384","name":"acquire access token","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":765.5,"y":209.45001220703125,"wires":[["9182ac30.6cfa3"]]},{"id":"5c6c0f60.373e","type":"function","z":"c5982c0d.7b384","name":"genearte url","func":"var url = \"https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token=\" + msg.token;\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":87.5,"y":527.449951171875,"wires":[[]]},{"id":"13d07da.5d04282","type":"function","z":"c5982c0d.7b384","name":"define corpid & corpsecret","func":"msg.corpid = \"wxd7bf322d8133468e\";\nmsg.corpsecret = \"Db3r2edcjJVYbJZBTilb5MxzALmuA0RDKFczpmyMwc4p0TeWXbj1BdWZTNlMbhn1\";\nreturn msg;","outputs":1,"noerr":0,"x":144.5,"y":208.44998168945312,"wires":[["93711f9e.a4fc5"]]},{"id":"241af21b.6e67ce","type":"function","z":"c5982c0d.7b384","name":"define wechat payload - 静态文本","func":"msg.payload = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"hahmessage from michael\\\"},\\\"safe\\\":\\\"0\\\"}\";\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":522.4500122070312,"wires":[[]]},{"id":"e21cafac.3f617","type":"debug","z":"c5982c0d.7b384","name":"","active":true,"console":"false","complete":"false","x":823.5,"y":444.29998779296875,"wires":[]},{"id":"9babf67f.c04db8","type":"mqtt in","z":"c5982c0d.7b384","name":"bme280","topic":"henkelsensor/ESP001","qos":"1","broker":"f57b7048.2bdb","x":80,"y":33,"wires":[["9a813c18.1234d"]]},{"id":"9838ea4b.e6b918","type":"function","z":"c5982c0d.7b384","name":"wechat payload - dht22","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"\";\nmsg1 = msg1 + \"传感器：\" + msg.clientId + \"，现在的温度是：\" + msg.temperature + \"，湿度是：\" + msg.humidity;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":284,"wires":[[]]},{"id":"350f0495.76e0fc","type":"change","z":"c5982c0d.7b384","name":"","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":383.5,"y":32.45001220703125,"wires":[["6fb31635.019bd8"]]},{"id":"9a813c18.1234d","type":"json","z":"c5982c0d.7b384","name":"","x":212.5,"y":32.44999694824219,"wires":[["350f0495.76e0fc"]]},{"id":"6d812518.ff00ec","type":"change","z":"c5982c0d.7b384","name":"","rules":[{"t":"set","p":"pressure","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":802,"y":30,"wires":[["b50949ee.56b768"]]},{"id":"6fb31635.019bd8","type":"change","z":"c5982c0d.7b384","name":"","rules":[{"t":"set","p":"humidity","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":31,"wires":[["6d812518.ff00ec"]]},{"id":"d754cecb.16e51","type":"mqtt in","z":"c5982c0d.7b384","name":"","topic":"dht22","qos":"1","broker":"f57b7048.2bdb","x":72,"y":82,"wires":[["bd140f52.d48fe"]]},{"id":"f788bd43.8e867","type":"change","z":"c5982c0d.7b384","name":"","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":84,"wires":[["8ae36741.7a6848"]]},{"id":"bd140f52.d48fe","type":"json","z":"c5982c0d.7b384","name":"","x":191,"y":83.99998474121094,"wires":[["f788bd43.8e867"]]},{"id":"8ae36741.7a6848","type":"change","z":"c5982c0d.7b384","name":"","rules":[{"t":"set","p":"humidity","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.5,"y":83.54998779296875,"wires":[["e5774115.88282"]]},{"id":"9c51d14d.540f7","type":"switch","z":"c5982c0d.7b384","name":"","property":"clientId","propertyType":"msg","rules":[{"t":"eq","v":"dht22","vt":"str"},{"t":"eq","v":"ESP001","vt":"str"}],"checkall":"true","outputs":2,"x":996.5,"y":90.44999694824219,"wires":[["13d07da.5d04282"],["13d07da.5d04282"]]},{"id":"b50949ee.56b768","type":"change","z":"c5982c0d.7b384","name":"","rules":[{"t":"set","p":"clientId","pt":"msg","to":"payload.clientId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":996,"y":25,"wires":[["9c51d14d.540f7"]]},{"id":"e5774115.88282","type":"change","z":"c5982c0d.7b384","name":"","rules":[{"t":"set","p":"clientId","pt":"msg","to":"payload.clientId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":772,"y":84,"wires":[["9c51d14d.540f7"]]},{"id":"9182ac30.6cfa3","type":"switch","z":"c5982c0d.7b384","name":"","property":"clientId","propertyType":"msg","rules":[{"t":"eq","v":"dht22","vt":"str"},{"t":"eq","v":"ESP001","vt":"str"}],"checkall":"true","outputs":2,"x":106,"y":283,"wires":[["9838ea4b.e6b918"],["80f2c5d.5ef4b38"]]},{"id":"4a9f45a4.a12a3c","type":"function","z":"c5982c0d.7b384","name":"wechat payload - bme280","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"\";\nmsg1 = msg1 + \"传感器：\" + msg.clientId + \"，现在的温度是：\" + msg.temperature + \"，湿度是：\" + msg.humidity + \"，大气压是：\" + msg.pressure;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":396,"wires":[[]]},{"id":"80f2c5d.5ef4b38","type":"switch","z":"c5982c0d.7b384","name":"","property":"temperature","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":140.5,"y":354.45001220703125,"wires":[["fcdef217.4f92b"],["4a9f45a4.a12a3c"]]},{"id":"fcdef217.4f92b","type":"function","z":"c5982c0d.7b384","name":"wechat payload - bme280 - temperature high","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"\";\nmsg1 = msg1 + \"传感器：\" + msg.clientId + \"，请注意！！温度大于30度！异常！！现在的温度是：\" + msg.temperature + \"，湿度是：\" + msg.humidity + \"，大气压是：\" + msg.pressure;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":337,"wires":[[]]},{"id":"f57b7048.2bdb","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
