node-red/wc_mqtt_message+image
[{"id":"3477a811.e94668","type":"change","z":"600f427b.160f1c","name":"","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":385,"y":47.45001220703125,"wires":[["100f4082.5a88b7"]]},{"id":"1d33f14.0e2a70f","type":"http request","z":"600f427b.160f1c","name":"","method":"GET","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid={{corpid}}&corpsecret={{corpsecret}}","tls":"","x":352,"y":223.44998168945312,"wires":[["defecaa9.a933f8"]]},{"id":"67439f8f.d1c1d","type":"http request","z":"600f427b.160f1c","name":"","method":"POST","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={{token}}","tls":"","x":847,"y":339.449951171875,"wires":[["e2e8ef25.b86688"]]},{"id":"defecaa9.a933f8","type":"json","z":"600f427b.160f1c","name":"","x":537,"y":222.44998168945312,"wires":[["c31b2e7a.5a4e8"]]},{"id":"c31b2e7a.5a4e8","type":"change","z":"600f427b.160f1c","name":"acquire access token","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":767,"y":224.45001220703125,"wires":[["252a7919.f23906"]]},{"id":"b9686a6.7474f98","type":"function","z":"600f427b.160f1c","name":"genearte url","func":"var url = \"https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token=\" + msg.token;\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":95,"y":692.449951171875,"wires":[[]]},{"id":"89bded8.1317b1","type":"function","z":"600f427b.160f1c","name":"define corpid & corpsecret","func":"msg.corpid = \"wxd7bf322d8133468e\";\nmsg.corpsecret = \"Db3r2edcjJVYbJZBTilb5MxzALmuA0RDKFczpmyMwc4p0TeWXbj1BdWZTNlMbhn1\";\nreturn msg;","outputs":1,"noerr":0,"x":146,"y":223.44998168945312,"wires":[["1d33f14.0e2a70f"]]},{"id":"c0985701.519db","type":"function","z":"600f427b.160f1c","name":"define wechat payload - 静态文本","func":"msg.payload = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"hahmessage from michael\\\"},\\\"safe\\\":\\\"0\\\"}\";\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":370.5,"y":684.4500122070312,"wires":[[]]},{"id":"e2e8ef25.b86688","type":"debug","z":"600f427b.160f1c","name":"","active":true,"console":"false","complete":"false","x":941,"y":396.29998779296875,"wires":[]},{"id":"a0c94894.e58fd8","type":"mqtt in","z":"600f427b.160f1c","name":"bme280","topic":"henkelsensor/ESP001","qos":"1","broker":"d0e41a40.2142d","x":81.5,"y":48,"wires":[["5ea168de.c62eb8"]]},{"id":"6bf7cd0e.1d35a4","type":"function","z":"600f427b.160f1c","name":"wechat payload - dht22","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"\";\nmsg1 = msg1 + \"传感器：\" + msg.clientId + \"，现在的温度是：\" + msg.temperature + \"，湿度是：\" + msg.humidity;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":431.5,"y":286,"wires":[["67439f8f.d1c1d"]]},{"id":"5ea168de.c62eb8","type":"json","z":"600f427b.160f1c","name":"","x":214,"y":47.44999694824219,"wires":[["3477a811.e94668"]]},{"id":"dcea6748.fdb12","type":"change","z":"600f427b.160f1c","name":"","rules":[{"t":"set","p":"pressure","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":803.5,"y":45,"wires":[["8a77cf7b.90e5b8"]]},{"id":"100f4082.5a88b7","type":"change","z":"600f427b.160f1c","name":"","rules":[{"t":"set","p":"humidity","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600.5,"y":46,"wires":[["dcea6748.fdb12"]]},{"id":"8c375d16.f25e18","type":"mqtt in","z":"600f427b.160f1c","name":"","topic":"dht22","qos":"1","broker":"8226b2c.734505","x":73.5,"y":97,"wires":[["9be31c41.70a0e8"]]},{"id":"39f9161f.61ee72","type":"change","z":"600f427b.160f1c","name":"","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":363.5,"y":99,"wires":[["11913eb2.d6bf01"]]},{"id":"9be31c41.70a0e8","type":"json","z":"600f427b.160f1c","name":"","x":192.5,"y":98.99998474121094,"wires":[["39f9161f.61ee72"]]},{"id":"11913eb2.d6bf01","type":"change","z":"600f427b.160f1c","name":"","rules":[{"t":"set","p":"humidity","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":576,"y":98.54998779296875,"wires":[["704b5703.34dc88"]]},{"id":"530cbbf2.4f549c","type":"switch","z":"600f427b.160f1c","name":"","property":"clientId","propertyType":"msg","rules":[{"t":"eq","v":"dht22","vt":"str"},{"t":"eq","v":"ESP001","vt":"str"}],"checkall":"true","outputs":2,"x":968,"y":98.44999694824219,"wires":[["89bded8.1317b1"],["89bded8.1317b1"]]},{"id":"8a77cf7b.90e5b8","type":"change","z":"600f427b.160f1c","name":"","rules":[{"t":"set","p":"clientId","pt":"msg","to":"payload.clientId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":997.5,"y":40,"wires":[["530cbbf2.4f549c"]]},{"id":"704b5703.34dc88","type":"change","z":"600f427b.160f1c","name":"","rules":[{"t":"set","p":"clientId","pt":"msg","to":"payload.clientId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":773.5,"y":99,"wires":[["530cbbf2.4f549c"]]},{"id":"252a7919.f23906","type":"switch","z":"600f427b.160f1c","name":"","property":"clientId","propertyType":"msg","rules":[{"t":"eq","v":"dht22","vt":"str"},{"t":"eq","v":"ESP001","vt":"str"}],"checkall":"true","outputs":2,"x":107.5,"y":298,"wires":[["6bf7cd0e.1d35a4"],["991c1ddd.06d97"]]},{"id":"3a0c3fcf.c8471","type":"function","z":"600f427b.160f1c","name":"wechat payload - bme280","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"\";\nmsg1 = msg1 + \"传感器：\" + msg.clientId + \"，现在的温度是：\" + msg.temperature + \"，湿度是：\" + msg.humidity + \"，大气压是：\" + msg.pressure;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":183.5,"y":573,"wires":[["67439f8f.d1c1d"]]},{"id":"991c1ddd.06d97","type":"switch","z":"600f427b.160f1c","name":"","property":"temperature","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":69,"y":366.45001220703125,"wires":[["19f5d333.392acd"],["3a0c3fcf.c8471"]]},{"id":"47be30a7.2a20e","type":"function","z":"600f427b.160f1c","name":"wechat payload - bme280 - temperature high","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"text\\\", \\\"agentid\\\": \\\"1\\\",\\\"text\\\": {\\\"content\\\": \\\"\";\nmsg1 = msg1 + \"传感器：\" + msg.clientId + \"，请注意！！温度大于20度！异常！！（每过X分钟仅发一次报警）现在的温度是：\" + msg.temperature + \"，湿度是：\" + msg.humidity + \"，大气压是：\" + msg.pressure;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":539.5,"y":330,"wires":[["67439f8f.d1c1d"]]},{"id":"193a5c8f.ee4f8b","type":"exec","z":"600f427b.160f1c","command":"sudo python /home/pi/Camera/camera.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"excu python","x":270,"y":392.5,"wires":[["2c569e8e.0ea352"],[],[]]},{"id":"2c569e8e.0ea352","type":"file in","z":"600f427b.160f1c","name":"picture","filename":"/home/pi/Pictures/image.jpg","format":"","x":415,"y":380,"wires":[["e58e5a21.e4bb18"]]},{"id":"e58e5a21.e4bb18","type":"function","z":"600f427b.160f1c","name":"http header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/octet-stream';\nmsg.headers['.name']='media';\nmsg.headers['.filename']= msg.filename;\n//msg.headers['.Connection'] = 'Keep-Alive';\nreturn msg;","outputs":1,"noerr":0,"x":566,"y":370,"wires":[["d775465f.fa0998"]]},{"id":"d775465f.fa0998","type":"http request","z":"600f427b.160f1c","name":"","method":"POST","ret":"txt","url":"https://qyapi.weixin.qq.com/cgi-bin/media/upload?access_token={{token}}&type=image","tls":"","x":297.5,"y":451.449951171875,"wires":[["e836c2.c3fd914"]]},{"id":"e836c2.c3fd914","type":"json","z":"600f427b.160f1c","name":"","x":440,"y":450,"wires":[["f5ad68be.f3f0f8"]]},{"id":"f5ad68be.f3f0f8","type":"change","z":"600f427b.160f1c","name":"acquire media id","rules":[{"t":"set","p":"media_id","pt":"msg","to":"payload.media_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":444,"wires":[["95c1b8e2.7586d8"]]},{"id":"95c1b8e2.7586d8","type":"function","z":"600f427b.160f1c","name":"wechat payload - image","func":"msg1 = \"{\\\"touser\\\": \\\"@all\\\",\\\"toparty\\\": \\\"@all\\\", \\\"msgtype\\\": \\\"image\\\", \\\"agentid\\\": \\\"1\\\",\\\"image\\\": {\\\"media_id\\\": \\\"\";\nmsg1 = msg1 + msg.media_id;\nmsg1 = msg1 + \"\\\"},\\\"safe\\\":\\\"0\\\"}\"\nmsg.payload = msg1;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":498,"wires":[["67439f8f.d1c1d"]]},{"id":"19f5d333.392acd","type":"delay","z":"600f427b.160f1c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":219.5,"y":344.45001220703125,"wires":[["47be30a7.2a20e","193a5c8f.ee4f8b"]]},{"id":"d0e41a40.2142d","type":"mqtt-broker","z":"","broker":"192.168.2.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8226b2c.734505","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
